@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

.input {
  @apply w-full bg-transparent border border-gray-300 rounded-md px-4 py-3 text-white focus:outline-none focus:ring-1 focus:ring-gray-400;
}
.btn-outline {
  @apply border border-gray-500 px-4 py-2 rounded-md hover:bg-white hover:text-black transition;
}
